@use 'linkModule';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$font-primary: 'Nunito Sans', sans-serif;

body{
  background-color: rgb(229, 227, 227);
}

.top-bar {
  display: flex;
  /* border: 1px solid; */
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  align-items: center;
  justify-content: space-between
}

#topbar_right {
  display: flex;       
  gap: 10px;           
  align-items: center; 
}

#create_post_button {
  font-family: $font-primary;
  font-size: 11px;
  color: white;               
  background-color: #B48CC7;  
  border: 3px solid #B48CC7;  
  border-radius: 30px;
}

#my_posts {
  font-family: $font-primary;
  @include linkModule.hide-link-features;
  color: gray;
  font-size: 13px;
}

#home_redirect{
  @include linkModule.hide-link-features;
}

#home_redirect img {
    width: 100px;      
    height: auto;      
}