@use 'linkModule.scss';
$font-primary: 'Nunito Sans', sans-serif;

.feed_posts {
  display: inline-block;
  width: 75%;
  padding-top: 1%;
  margin-left: 2%;
  margin-right: 15%;
}

.feed_post {
    border-bottom: 1px solid #D5D5D5;
    margin-left: 2%;
    background-color: white;
    border-radius: 10px;
    h3{
      margin-bottom: 2%;
    }
}

.post_author{
    margin-top: 1%;
    margin-bottom: -2.5%;
    padding-left: 2%;
    font-family: $font-primary;
    font-weight: bold;
    font-size: 10px;
}

.post_header a{
    @include linkModule.hide-link-features;
    padding-left: 2%;
    color: black;
    font-family: $font-primary;
    font-size: clamp(1rem, 2vw, 2rem);
}

.post_contents{
  padding-left: 2%;
  margin-top: -2%;
  margin-bottom:2% ;
  font-family: $font-primary;
  font-size: clamp(0.5rem, 0.8vw, 1.5rem);
  a{
    color: black;
    font-weight: bold;
  }
}

nav {
  border-top: 1px solid #eeeeee;
  margin-top: 1em;
  padding-top: 0.5em;
  font: 1.2em $font-primary;

  display: flex;
  justify-content: center;}


.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

    li{
      margin: 0 1px;
    }

    a {
      display: block;
      padding: 0.5em 1em;
      border: 1px solid #999999;
      border-radius: 0.2em;
      @include linkModule.hide-link-features;
      color: rgb(72, 69, 69);
    }
}