- hosts: all
  vars:
    rootless_user: deploy
    container_uid: 1234

  tasks:
    - name: Install docker
      ansible.builtin.apt:
        name: docker.io
        state: latest
        update_cache: true
      become: true

    # set up rootless docker on server before running this, I forgot to use ansible for it and did it manually
    - name: Run rootless test container
      community.docker.docker_container:
        name: rootless-test
        image: busybox
        command: echo hello from rootless
        auto_remove: true
        state: started
        docker_host: "unix://{{ ansible_env.XDG_RUNTIME_DIR }}/docker.sock"

   ## this ansible command doesn't work for some reasons! no idea why 
    # - name: Build container image locally
    #   community.docker.docker_image:
    #     name: blog
    #     source: build
    #     state: present
    #     build:
    #       path: "{{ playbook_dir }}/.."
    #       dockerfile: "Dockerfile"
    #     force_source: true  
    #   delegate_to: localhost
    #   vars:
    #     ansible_connection: local
    #   run_once: true

    - name: Export container image locally
      community.docker.docker_image:
        name: blog
        archive_path: /tmp/blog-img.tar
        source: local
      delegate_to: localhost
      vars: { ansible_connection: local }
      run_once: true

    - name: Upload image to server
      ansible.builtin.copy:
        src: /tmp/blog-img.tar
        dest: /tmp/blog-img.tar

    - name: Import container image on server
      community.docker.docker_image:
        name: blog
        load_path: /tmp/blog-img.tar
        source: load
        force_source: true
        state: present
        docker_host: "unix://{{ ansible_env.XDG_RUNTIME_DIR }}/docker.sock"

    - name: Ensure .secret-key file exists
      # the intention is that this only happens once per server
      ansible.builtin.copy:  
        dest: ~/.secret-key
        content: "{{ lookup('password', '/dev/null length=32 chars=ascii_letters') }}"  
        mode: 0600
        force: false  # do not recreate file if it already exists.

    - name: Read secret key back from file
      ansible.builtin.slurp:  
        src: ~/.secret-key
      register: secret_key


    - name: Ensure db.sqlite3 file exists with correct mapped UID
      become: true
      ansible.builtin.shell: |
        set -e
        subuid_start=$(grep "^{{ rootless_user }}:" /etc/subuid | cut -d: -f2)
        host_uid=$((subuid_start - 1 + {{ container_uid }}))
        install -m 660 -o "${host_uid}" -g "${host_uid}" /dev/null "{{ ansible_env.HOME }}/db.sqlite3"
      args:
        executable: /bin/bash


    - name: Run container
      community.docker.docker_container:
        name: blog
        image: blog
        state: started
        recreate: true
        docker_host: "unix://{{ ansible_env.XDG_RUNTIME_DIR }}/docker.sock"
        env:  
          DJANGO_DEBUG_FALSE: "1"
          DJANGO_SECRET_KEY: "{{ secret_key.content | b64decode }}"  
          DJANGO_ALLOWED_HOST: "{{ inventory_hostname }}"  
          DJANGO_DB_PATH: "/home/nonroot/db.sqlite3"
        mounts:  
          - type: bind
            source: "{{ ansible_env.HOME }}/db.sqlite3"  
            target: /home/nonroot/db.sqlite3
        ports: 8080:8888

    - name: Run migration inside container
      community.docker.docker_container_exec:  
        container: blog
        command: python3 ./manage.py migrate
        docker_host: "unix://{{ ansible_env.XDG_RUNTIME_DIR }}/docker.sock"