@use 'linkModule.scss';
$font-primary: 'Nunito Sans', sans-serif;

.feed_posts {
  display: inline-block;
  width: 75%;
  padding-top: 1%;
  margin-left: 2%;
  margin-right: 15%;
}

.feed_post h3 {
  margin-bottom: 2%;
}

.feed_post {
    border-bottom: 1px solid #D5D5D5;
    margin-left: 2%;
}

.post_author{
    margin-top: 1%;
    margin-bottom: -2.5%;
    padding-left: 2%;
    font-family: $font-primary;
    font-weight: bold;
    font-size: 10px;
}

.post_header a{
    @include linkModule.hide-link-features;
    padding-left: 2%;
    color: black;
    font-family: $font-primary;
    font-size: clamp(1rem, 2vw, 2rem);
}
