{% extends "posts/_base.html" %}
    {% block body %}
        <form method="POST" id="post_form">
            {% csrf_token %}
            
            <p>
                <input name="header_input" placeholder="Enter the heading" type="text">
            </p>
            <p>
                <textarea name="body_input" id="body_input" placeholder="Enter the body" rows="10" cols="80"></textarea>
            </p>
            
            <button id="submit" type="submit" >Submit</button>
        </form>
    {% endblock %}