{% extends "posts/_base.html" %}
    {% block body %}
        {% if messages %}
            {% for message in messages %}
                <p id="error" role="alert">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <h2>
            <p id="posted_header">{{post.header}}</p>
        </h2>
        
        <div id="posted_body">{{ post.body|linebreaks }}</div>

        <p id="author">Posted by: {{ post.user.username }}</p>
        <p id="posted_date">Posted on: {{ post.created_at }}</p>

        <form action="{% url 'posts:delete_post' post.id %}" method="post">
            {% csrf_token %}
                <button id="delete_post" type="submit">Delete</button>
        </form>

        <form action="{% url 'posts:edit_post' post.id %}" method="get">
            <button id="edit_post" type="submit">Edit</button>
        </form>

    {% endblock %}